<div class="container">
    <div class="row">
        <a id="btnStart" class="btn btn-primary m-2" onclick="StartReading()">Start Reading</a>
        <a id="btnStop" class="btn btn-secondary m-2" onclick="StopReading()">Stop Reading</a>
    </div>
    <div class="row">
        <ul id="statusList" class="col-md-12" style="height: 400px; overflow: auto"></ul>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/status.js"></script>